#############################################
# PostgreSQL
#############################################

POSTGRES_DB=saas_subscription_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

#############################################
# Spring Boot
#############################################

DB_PASSWORD=1234

#############################################
# Razorpay
#############################################

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx